<div class="p-5 grid grid-cols-1 gap-6 mx-auto">
  {{>blog-partial}}
  <div class="rounded-lg shadow-lg shadow-zinc-400 overflow-hidden">
    <div class="bg-indigo-600 text-white p-3 text-xl">
      <h3>Comments</h3>
    </div>
    <div class="grid grid-cols1 gap-3 p-3">
      {{#each comments as |comment|}}
        <div class="">
          <h3 class="font-bold">{{comment.user.username}}</h3>
          <p class="text-sm"><time datetime="{{displayTime comment.createdAt}}">{{displayTime comment.createdAt}}</time></p>
            <p class="pl-3 pt-1">
              {{comment.content}}
            </p>
        </div>
      {{/each}}
    </div>
    <div class="p-3 border-t-2 border-indigo-200">
      {{#if logged_in}}
      <form id="comment-form" class="flex flex-col gap-3">
        <div class="flex flex-col">
          <label class="font-bold" for="comment-input">Write a new comment</label>
          <textarea
            placeholder="Compliment goes here..."
            class="resize-none border-zinc-300 border-[1px] p-2"
            rows="4"
            type="text"
            name="content"
            id="comment-input"
          ></textarea>
        </div>
        <button class="border-2 border-indigo-200 px-5 py-2 rounded-lg max-w-md w-full self-center">
          Submit
        </button>
      </form>
      {{else}}
        <div>
          <p class="mb-3">Login to leave a comment</p>
          <a href="/signup" class="bg-indigo-600 hover:bg-indigo-500 text-white rounded-lg text-lg px-5 py-2">Login</a>
        </div>
      {{/if}}
    </div>
  </div>
</div>
<script src="/js/comment.js"></script>